body {
    margin: 0;
}

/*Section 1----------------------------------------*/

.section1 {
    background-color: #1f2937;
}

.logo {
    margin-top: 10px;
    margin-left: 150px;
    height: 100px;
}

li {
    list-style: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width: 400px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 420px;
    margin-bottom: 10px;
}

button.signupBtn1 {
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882f6;
    font-weight: bold;
    padding: 7px;
    width: 30%;
    margin-bottom: 100px;
}

.info1 img {
    height: 250px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

ul {
    display: flex;
    gap: 12px;
    margin-right: 150px;
}

.info1 {
    display: flex;
    margin-left: 150px;
    justify-content: center;
}

.info1 img {
    margin-right: 150px;
}

.info1Column {
    margin-right: 30px;
}

/*Section 2-------------------------------------------*/

.section2 {
    background-color: white;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.info img {
    margin-bottom: 5px;
    height: 230px;
    border: 4px solid #3882f6;
    border-radius: 25px;
}

.imgSubtext {
    font-size: 18px;
    color: black;
    width: 150px;
    text-align: center;
}

/*Section 3-------------------------------------------*/

.section3 {
    background-color: #E5E7EB;
}

.quoteText {
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    align-items: center;
    justify-content: center;
}

.quoteAuthor {
    display: flex;
    font-size: 22px;
    font-weight: 800;
    color: #1F2937;
    justify-content: flex-end;
    margin-right: 50px;
}

/*Section 4-------------------------------------------*/

.section4 {
    background-color: white;
}

.box {
    background-color: #3882f6;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
}

.info2 {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.text2 {
    font-size: 24px;
    color: #F9FAF8;
}

.subtext2 {
    font-size: 18px;
    color: #E5E7EB;
}

button.signupBtn2 {
    border-radius: 10px;
    border: 2px solid white;
    color: #F9FAF8;
    background-color: #3882f6;
    font-weight: bold;
    padding: 7px;
    width: 17%;
}

/*Section 5-------------------------------------------*/

.section5 {
    background-color: #1f2937;
}
.footer {
    padding: 40px;
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
}