/*Section 1----------------------------------------*/

.section1 {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 10px;
    margin-left: 150px;
}

li {
    list-style: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 10px;
    color: #F9FAF8;
    background-color: rgb(92, 92, 247);
    font-weight: bold;
    padding: 7px;
    width: 30%;
}

img {
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

ul {
    display: flex;
    gap: 12px;
    margin-right: 150px;
}

.info1 {
    display: flex;
    margin-left: 150px;
}

.info1Column {
    margin-right: 30px;
}

.text {
    width: 400px;
}

.subtext {
    width: 420px;
    margin-bottom: 10px;
}

/*Section 2-------------------------------------------*/



